# Versioning and metadata
.git
.gitignore
.dockerignore

# Build dependencies
/dist
/node_modules
/coverage

# Environment (contains sensitive data)
.env
*.env
*.env*

# Files not required for production
/.history
/k8s
.editorconfig
.idea
.editorconfig
.eslintrc.js
.prettierrc
Dockerfile
Dockerfile.prod
README.md
tslint.json
nodemon.json
skaffold.yaml
